.cards {
    background-color: #fff;
    margin: 2rem 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-left-radius:0.25rem;
    border-top-right-radius: 0.25rem;
}

.content {
    padding: 1.5rem 2rem
}

.tour-mains {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tour-price {
    color: #49a6e9;
    padding: 0.24rem 0.5rem;
}